site_name: PokeLance
repo_url: https://github.com/FallenDeity/PokeLance
site_description: Documentation for the PokeApi wrapper, PokeLance.
site_author: FallenDeity
copyright: Copyright FallenDeity ( 2022 - present )
site_url: https://FallenDeity.github.io/PokeLance

theme:
  name: "material"
  language: en
  logo: assets/pokelance.png
  favicon: assets/pokelance.png

  font:
    text: Ubuntu

  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.indexes
    - navigation.top
    - navigation.sections
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - toc.follow
    - toc.integrate
    - navigation.footer
  palette:
    - scheme: light
      primary: indigo
      accent: deep purple
      toggle:
        icon: material/weather-sunny
        name: Light Mode
    - scheme: slate
      primary: indigo
      accent: deep purple
      toggle:
        icon: material/weather-night
        name: Dark Mode

plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            show_root_toc_entry: false
            docstring_style: numpy
            merge_init_into_class: true
            inherited_members: true
          import:
            - https://docs.python.org/3.9/objects.inv
  - search
  - social:
      cards_layout_options:
        background_color: "#3761A3"
        color: "#FFFFFF"

nav:
  - Getting Started: index.md
  - API Reference:
      - PokeLance: api_reference/pokelance.md
      - Logging: api_reference/logger.md
      - Exceptions: api_reference/exceptions.md
      - Languages: api_reference/languages.md
      - Constants: api_reference/constants.md
      - Cache:
          - Cache: api_reference/cache/cache.md
          - CacheManager: api_reference/cache/cache_manager.md
      - Http:
          - Client: api_reference/http/httpclient.md
          - Routes: api_reference/http/routes.md
      - Extensions:
          - base: api_reference/ext/_base.md
          - berry: api_reference/ext/berry.md
          - contest: api_reference/ext/contest.md
          - encounter: api_reference/ext/encounter.md
          - evolution: api_reference/ext/evolution.md
          - game: api_reference/ext/game.md
          - item: api_reference/ext/item.md
          - location: api_reference/ext/location.md
          - machine: api_reference/ext/machine.md
          - move: api_reference/ext/move.md
          - pokemon: api_reference/ext/pokemon.md
      - Models:
          - Base: api_reference/models/base.md
          - Common:
              - Resources: api_reference/models/common/resources.md
              - Models: api_reference/models/common/models.md
          - Abstract:
              - Utility:
                  - Berries: api_reference/models/abstract/utils/berries.md
                  - Contests: api_reference/models/abstract/utils/contests.md
                  - Evolutions: api_reference/models/abstract/utils/evolutions.md
                  - Games: api_reference/models/abstract/utils/games.md
                  - Items: api_reference/models/abstract/utils/items.md
                  - Locations: api_reference/models/abstract/utils/locations.md
                  - Moves: api_reference/models/abstract/utils/moves.md
                  - Pokemons: api_reference/models/abstract/utils/pokemons.md
              - Berry: api_reference/models/abstract/berry.md
              - Contest: api_reference/models/abstract/contest.md
              - Encounter: api_reference/models/abstract/encounter.md
              - Evolution: api_reference/models/abstract/evolution.md
              - Game: api_reference/models/abstract/game.md
              - Item: api_reference/models/abstract/item.md
              - Location: api_reference/models/abstract/location.md
              - Machine: api_reference/models/abstract/machine.md
              - Move: api_reference/models/abstract/move.md
              - Pokemon: api_reference/models/abstract/pokemon.md
  - Guide:
      - Basic Usage: guide/basic_usage.md
      - Discord Bot: guide/discord_bot.md
      - FastAPI: guide/fastapi.md
      - Cache Usage: guide/advanced_cache.md

markdown_extensions:
  - tables
  - footnotes
  - pymdownx.betterem
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - def_list
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - toc:
      permalink: ⚓︎
  - pymdownx.highlight:
      auto_title: true
      line_spans: __span
      anchor_linenums: true
  - pymdownx.superfences:
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true

extra:
  version: 0.2.11
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/FallenDeity/PokeLance
    - icon: fontawesome/brands/discord
      link: https://discord.gg/yeyEvT5V2J
