name: Code formatter and linter

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:

  build:

    runs-on: Ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
          enable-cache: true

      - name: Install Dependencies
        run: |
          uv sync --locked --all-groups

      - name: Format with isort and black
        run: |
          uv run isort .
          uv run black .

      - name: Linting with ruff
        run: |
          uv run ruff .

      - name: Type checking with mypy
        run: |
          uv run mypy .
